.chat-dialog {
  .el-dialog {
    min-width: 1020px!important;
  }
  .el-dialog__body {
    padding: 10px;
  }
}
.global-chatting-box {
  display: flex;
  border: 1px solid #eee;
  width: 1000px;
  height: 560px;
  margin: 0 auto;
  border-radius: 4px;
  .chat-user-list {
    width: 240px;
    padding: 6px 0;
    border-right: 1px solid #eee;
    .chat-item {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      padding: 0 6px;
      &.active {
        background: #eee;
      }
      .head-box {
        position: relative;
        display: flex;
        align-items: center;
        width: 44px;
        margin-right: 6px;
        .unread-box {
          position: absolute;
          top: -6px;
          right: -4px;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 16px;
          padding: 0 2px;
          height: 16px;
          border-radius: 8px;
          color: #fff;
          font-size: 12px;
          background: #F56C6C;
        }
        img {
          width: 44px;
          height: 44px;
          border-radius: 6px;
        }
      }
      .content-box {
        flex: 1;
        min-width: 0;
        padding: 4px 0 4px 0;
        border-bottom: 1px solid #eee;
        .title-box {
          display: flex;
          align-items: center;
          margin-bottom: 2px;
          .user-name {
            flex: 1;
            min-width: 0;
            font-size: 14px;
            margin-right: 4px;
            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
          }
          .time {
            display: flex;
            align-items: center;
            max-width: 66px;
            font-size: 12px;
          }
        }
        .recent-msg-box {
          font-size: 13px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-all;
          margin-bottom: 2px;
        }
      }
    }
  }
  .chat-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    .chat-messages {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-height: 0;
      .user-name {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        font-size: 14px;
        font-weight: 500;
        border-bottom: 1px solid #eee;
      }
      .chat-content {
        flex: 1;
        min-height: 0;
        overflow: hidden;
        overflow-y: scroll;
        padding: 5px;
        .load-more-btn-box {
          text-align: center;
        }
        .message-item {
          display: flex;
          align-items: center;
          margin-bottom: 6px;
          .chat-head {
            width: 32px;
            height: 32px;
            border-radius: 6px;
          }
          .message-detail {
            padding: 6px 8px;
            max-width: 70%;
            word-break: break-all;
            border-radius: 4px;
          }
          &.msg-in {
            .chat-head {
              margin-right: 4px;
              order: 1;
            }
            .message-detail {
              order: 2;
              background: #f2f5f7;
            }
          }
          &.msg-out {
            justify-content: flex-end;
            .chat-head {
              margin-left: 4px;
              order: 2;
            }
            .message-detail {
              order: 1;
              background: #cce2ff;
            }
          }
        }
      }
    }
    .chat-ipt-box {
      display: flex;
      flex-direction: column;
      height: 150px;
      background: rgb(244 244 245);
      padding: 10px;
      .el-textarea {
        flex: 1;
      }
      .send-btns {
        height: 30px
      }
      .el-textarea textarea {
        width: 100%;
      }
      .send-btns {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
      }
    }
  }
}